* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ff00ff;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > div {
  background-color: #ff1493;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}

.header > :first-child {
  margin-right: auto;
}

.main-body {
  display: flex;
  justify-content: center;
}

.body1 {
  background-color: #00ff7f;
  width: 300px;
}

.body2 {
  background-color: #008000;
  flex-grow: 1;
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body2 > div {
  background-color: #ffff00;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

.fotter {
  background-color: #87cefa;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fotter > div {
  background-color: #afeeee;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}
